RewriteEngine on
RewriteBase /
RewriteRule ^(about|login|register|contact|knowledge|logout|sources|modes|play|embed|trending|new|top-picks)?$ index.php?a=$1 [L]
RewriteRule ^sources/(.*)?$ index.php?a=sources&track=$1 [L]
RewriteRule ^modes/(dark|light)?$ index.php?a=modes&mode=$1 [L]
RewriteRule ^modes/(dark|light)/(.*)?$ index.php?a=modes&mode=$1&redirect=$2 [L]
RewriteRule ^play/(.*)?$ index.php?a=play&play=$1 [L]
RewriteRule ^embed/(.*)?$ index.php?a=embed&play=$1 [L]
RewriteRule "^(.*)\s(.*)$" /$1+$2 [L,NE]
RewriteRule ^search/(.*)?$ index.php?a=search&search=$1 [L]
RewriteRule ^category/(.*)?$ index.php?a=category&category=$1 [L]
RewriteRule ^login/auth?$ index.php?a=login&type=auth [L]
RewriteRule ^password/reset?$ index.php?a=password&b=reset [L]
RewriteRule ^password/change/(.*)?$ index.php?a=password&b=change&hash=$1 [L]
RewriteRule ^email-verify/(.*)?$ index.php?a=email_verify&hash=$1 [L]
RewriteRule ^account/(summary|favourite|settings|activity)?$ index.php?a=account&b=$1 [L]
RewriteRule ^account/transaction/(.*)?$ index.php?a=account&b=transaction&id=$1 [L]
RewriteRule ^account/settings/(profile|change_password|2fa|logs)?$ index.php?a=account&b=settings&c=$1 [L]
RewriteRule ^account/activity/(.*)?$ index.php?a=account&b=activity&page=$1 [L]
RewriteRule ^account/favourite/(.*)?$ index.php?a=account&b=favourite&page=$1 [L]
RewriteRule ^account/settings/logs/(.*)?$ index.php?a=account&b=settings&c=logs&page=$1 [L]
RewriteRule ^page/(.*)?$ index.php?a=page&prefix=$1 [L]
RewriteRule ^blog$ index.php?a=blog [L,QSA]
RewriteRule ^blog/(.*)?$ index.php?a=blog&prefix=$1 [L]
